<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <property name="LOG_HOME" value="/data/logs/nacos-nginx-template"/>
    <property name="LOG_ROOT_LEVEL" value="INFO"/>
    <property name="LOG_SERVICE_NAME" value="nacos-nginx-template"/>
    <!--文件大小，默认10MB-->
    <property name="MAX_FILE_SIZE" value="100MB"/>
    <!-- 配置日志的滚动时间 ，表示只保留最近 10 天的日志-->
    <property name="MAX_HISTORY" value="2"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%thread]-[%X{TRACE_ID}] %logger{15}.%M\(%line\) - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="SERVICE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                Application_Stdout %-5level [%thread] %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{TRACE_ID}] %logger{5}[%L] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_ROOT_LEVEL}</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!--日志文件路径，新的 ALL 日志文件名称，“ i ” 是个变量 -->
            <FileNamePattern>${LOG_HOME}/${LOG_SERVICE_NAME}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>

            <!-- 配置日志的滚动时间 ，表示只保留最近 10 天的日志-->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>

            <!--当天的日志大小超过 ${MAX_FILE_SIZE} 文件大小时候，新的内容写入新的文件， 默认10MB-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>
    </appender>

    <appender name="ASYNC_SERVICE_ALL" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
        <appender-ref ref="SERVICE_ALL"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_SERVICE_ALL"/>
    </root>

</configuration>